.loginContainer{
    border: 2px solid lightgrey;
    text-align: center;
}
.headingContainer{
    border-bottom: 2px solid lightgrey;
    padding: 10px;
}
.bodyContainer{
    padding: 10px;
}
.signin{
  font-weight: 700;  
  color: #00a699;
}
.img{
    height: 50px;
    width: 50px;
}
.userInput{
    border: 1px solid black;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
}
.drpdwnarrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #555;
    display: inline-block;
    right: 10px;
    top: 35%;
    position: absolute;
}
.userList{
    background: #FFFFFF none repeat scroll 0 0;
    padding: 5px;
    overflow-y: scroll;
    border: 1px solid #bdc7d8;
    text-align:left;
}
.user{
    color: #000;
    cursor: pointer;
    width: 100%;
    padding: 8px 5px;
}
.userImg{
    width:20px;
    height:20px
}
.signInBtn{
    width:100%;
    background-color: #00a699;
    border:1px solid #00a699;
    border-radius: 5px;
    height: 30px;
    color: white;
}